<%= form_for([@post, @post.comments.new], remote: true) do |f| %>
  <div class="field">
    <%= f.text_field :author, id: "form-comment-author", placeholder: "Your name (optional)" %>
  </div>
  <div class="field">
    <%= f.text_field :email, id: "form-comment-email", placeholder: "Your email (optional/ not public)" %>
  </div>
  <div class="field">
    <%= f.label "Your comment" %><br>
    <%= f.text_area :content, id:"form-comment-content" %>
  </div>
  <div class="actions">
    <%= f.submit "Leave comment", class: "button", id: "create-comment-button" %>
  </div>
<% end %>
