<div class="row">
<dir class="text-centerd">
<% if @unread_comments > 0 %>
  <h5 class="text-centered" id="unread-comments">
<% else %>
  <h5 class="text-centered">
<% end %>
  <%= link_to generate_comments_text(@unread_comments), admin_comments_path %>
  </h5>
</dir>
  <div class="small-6 columns">
    <h2>Projects</h2>
    <% @projects.each do |project| %>
    <h3><%= link_to project.title, project, target: "_blank" %></h3>
    <h6 class="subheader"><%= time_ago_in_words(project.created_at) %> ago</h6>
    <% end %>
  </div>
  <div class="small-6 columns">
    <h2>Posts</h2>
    <div class="row">
      <% @posts.each do |post| %>
      <h3><%= link_to post.title, post, target: "_blank" %></h3>
      <h6 class="subheader"><%= time_ago_in_words(post.created_at) %> ago</h6>
      <% end %>
    </div>
  </div>
</div>
