<% provide(:title, "About") %>
<div id="about-page">
  <div id="hero-image">
    <%= image_tag("big-image.jpg", alt: "Hero Image") %>
  </div>
  <div class="container">
    <div class="row" id="welcome-container">
      <div id="welcome">
        <h1 class="wow animated lightSpeedIn">HEY, I'M RADI</h1>
        <%= link_to "DOWNLOAD CV", download_cv_path,
                                                            class: "btn btn-default wow animated fadeInUp",
                                                            target: "_blank",
                                                            data: {'wow-delay': '1s'} %>
      </div>
    </div>
  </div>
  <div id="about">
    <div class="container">
      <div class="row table">
        <div class="col-sm-6 table-cell">
          <h3 class="text-center">Hi, and welcome to my page!</h3>
          <p>
            I'm a full stack developer creating apps using Bootstrap, Foundation, Javascript, jQuery, Ajax, RSpec, Capybara and Ruby on Rails.
          </p>
          <p>
            I've created my first simple HTML page in 2001 as a hobby project. Later I continued experimenting with programming in my spare time by building projects using Dreamweaver or writing code in C for my Arduino experiments.
          </p>
          <p>
             I've got seriously involved in web development in 2013, when I've decided I want to make a living as a programmer and dedicated my entire time achieving this goal. In doing so I've completed Udacity's "Intro to Programming" course and received their nanodegree. Next I've done numerous courses online: Codeacademy's "Python", "Ruby", "jQuery", "JavaScript", "Ruby on Rails" and FreeCodeCamp's "Front End Development" plus a ton of online tutorials or from books like Michael Hartl's "Ruby On Rails Tutotrial". In future, I would like to learn more about and work with MEAN Stack.
          </p>
          <p>
            To find out more about my work visit my <%= link_to "github", "https://github.com/raditotev", target: "_blank" %> account or <%= link_to "portfolio", portfolio_path %>.
          </p>
          <p>
            In my free time I love to travel, read books, spend time hanging with interesting people, hiking and working on electronic DIY projects. I'm an AOW diver and love the company of the sharks, mantas and other sea creatures big or small. Also I hope this summer (2016) I'll get my paragliding certificate. Wish me luck ;)
          </p>
          <p>
           If you have any questions, <%= link_to "feel free to get in touch", contact_path, id: "contact-link" %>.
         </p>
        </div>
      <div class="col-sm-6 table-cell">
        <div id="logos" class="vertical-center">
          <div class="row">
            <div class="col-xs-4 text-center">
              <%= image_tag("ruby.png", id: "ruby", class: "wow animated slideInLeft") %>
            </div>
            <div class="col-xs-4 text-center">
              <%= image_tag("RoR.png", id: "ror", class: "wow animated slideInDown") %>
            </div>
            <div class="col-xs-4 text-center">
              <%= image_tag("js.png", id: "js", class: "wow animated slideInRight") %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <%= image_tag("jquery.png", id: "jquery", class: "wow animated flipInY") %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 text-center">
              <%= fa_icon( "github" , class: "wow animated slideInLeft") %>
            </div>
            <div class="col-xs-4 text-center">
              <%= image_tag("html5.png", class: "wow animated slideInUp") %>
            </div>
            <div class="col-xs-4 text-center">
              <%= image_tag("css3.png", class: "wow animated slideInRight") %>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
</div>
