<% provide(:title, "Contact") %>


<div id="contact">
  <div class="container vertical-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h3 class="text-center">Send message</h3>
      <%= simple_form_for(@contact, remote: true) do |f| %>

        <%= f.input :name %>
        <%= f.input :email, as: :email %>
        <%= f.input :message, as: :text , input_html: {rows: 4} %>
        <%= f.input :nickname, label_html: { class: "hidden" }, input_html: {class: 'hidden'} %>

        <%= f.button :submit, "Send", disabled: "true", id: "send_message" %>

      <% end %>
    </div>
  </div>
  </div>
</div>

