<% provide(:title, @project.title) %>

<div id="show-project">
  <div class="container">
    <div class="row">
      <div class="col-xs12">
        <h1 class="text-center"><%= @project.title %></h1>
      </div>
    </div>
    <div class="row">
      <p class="text-center">
          <%= image_tag(@project.screenshot.url, class: "img-responsive") %>
        </p>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>
          <%= raw sanitize(simple_format(@project.description), :tags => %w(p br)) %>
        </p>
      </div>
    </div>
    <div class="row">
      <div col-xs-12>
        <p class="text-center" id="project-links">
          <% if @project.github_url %>
            <%= link_to fa_icon("github 3x"), @project.github_url, title: "Source code", target: "_blank" %>
          <% end %>
          <% if @project.demo_url %>
              <%= link_to fa_icon("desktop 3x"), @project.demo_url, title: "Live demo", target: "_blank" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
