<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title.html_safe %>
</h1>

<p>
  <%= @post.content.html_safe %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
