<% provide(:title, @post.title) %>

<div id="show-post">
  <div class="container">
    <div class="text-center" id="post-header">
      <h1><%= @post.title %></h1>
      <p><%= @post.created_at.strftime("%e %B, %Y").strip %></p>
    </div>
    <div id="post-content">
      <%= @post.content.html_safe %>
    </div>
    <p id="post-tags">
      <strong><%= fa_icon("tags 1x") %></strong>
      <%= raw tag_links(@post.all_tags) %>
    </p>
    <h4 id="comments-section">Comments</h4>
    <div id="posted-comments">
      <%= render @comments %>
    </div>
    <div id="post-comments">
      <%= render 'comments/form' %>
    </div>
  </div>
</div>
