<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<p>
  <%= @post.content.html_safe %>
</p>
<p>
    <strong>Tags</strong> <br>
    <%= raw tag_links(@post.all_tags) %>
</p>

<%= render 'comments/form' %>

<% @comments.each do |comment| %>

  <%= render comment %>

<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
