
<div id="show-post">
  <div class="container">
    <div class="text-center" id="post-header">
      <h1><%= @post.title %></h1>
      <p><%= @post.created_at.strftime("%e %B, %Y") %></p>
    </div>
    <div id="post-content">
        <%= @post.content.html_safe %>
      </div>
      <div id="post-comments">
        <h4>Comments</h4>
        <hr>
        <%= render 'comments/form' %>
      </div>
      <hr>
      <div id="posted-comments">
        <%= render @comments %>
      </div>
  </div>
</div>
