<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "My Blog" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="container">
    <div class="row">
    <h1><%= link_to "Admin Panel", admin_path, title: "Dashboard" %></h1>
    </div>
  </div>
  <div class="row" id="wrapper">
    <!-- NAVIGATION -->
    <div class="small-4 columns"  id="side_nav">
      <ul class="vertical menu">
        <li>
          <%= link_to "Projects", admin_projects_path %>
          <ul class="menu vertical nested">
            <li><%= link_to "New", new_project_path, class: "text-color-success", title: "Create project" %></li>
          </ul>
        </li>
        <li>
          <%= link_to "Posts", admin_posts_path %>
          <ul class="menu vertical nested">
            <li><%= link_to "New", new_post_path, class: "text-color-success", title: "Create post" %></li>
          </ul>
        </li>
      </ul>

    </div>
    <!-- MAIN -->
    <div class="small-8 columns"  id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
