<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? "Admin | #{yield(:title)}" : "Admin" %></title>

  <%= stylesheet_link_tag    "admin" %>
  <%= javascript_include_tag "admin", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header>
    <div class="container-fluid" id="admin-header">
      <div class="container">
        <h1 class="pull-left"><%= link_to "Admin Panel", admin_path, title: "Dashboard" %></h1>
        <div id="menu" class="pull-right"><%= fa_icon("bars") %></div>
      </div>
    </div>
  </header>

  <section id="notices">
    <div id="notice-message" class="container">
      <%= render 'shared/flash_messages' %>
    </div>
  </section>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-xs-4" id="admin-links">
          <ul class="menu vertical">
            <li>
              <%= link_to "Projects", admin_projects_path %>
              <ul class="menu vertical nested">
                <li><%= link_to fa_icon("plus 1x", text: "Project"), new_project_path, class: "text-color-success", title: "Create project" %></li>
              </ul>
            </li>
            <li>
              <%= link_to "Posts", admin_posts_path %>
              <ul class="menu vertical nested">
                <li><%= link_to  fa_icon("plus 1x", text: "Post"), new_post_path, class: "text-color-success", title: "Create post" %></li>
              </ul>
            </li>
            <li>
              <%= link_to "Log out", destroy_admin_session_path, method: :delete %>
            </li>
          </ul>
        </div>
        <div class="col-xs-8" id="yield">
          <%= yield %>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
